name: Pierwszy workflow (Lab 1)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Wywietl zawarto katalogu
        run: ls -la

      - name: Wywietl wiadomo
        run: echo "Gratulacje! Twój pierwszy workflow dziaa! 🎉"
